@font-face {
    font-family: 'Noto Sans Japanese';
    src: url('lib/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf');
}

body {
    font-family: 'Noto Sans Japanese';
    /* todo: レスポンシブ対応 */
    font-size: 4.2vw;
    margin: 0;
    padding: 0;
}

div.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

div.header {
    /* todo: 画像サイズ調整 */
    background-image: url('lib/img/header.png');
    background-size: 100% 100%;
    height: 66vw;
    width: 100vw;
}

div.main {
    align-items: center;
    background-color: #ecffe8;
    background-image: url('lib/img/background.png');
    background-size: 100vw 80vw;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

div.title {
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    font-size: 110%;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px 0;
    text-align: center;
    width: 50%;
}

div.desc {
    padding: 0 10px;
    text-align: center;
}

/* imgtxt */

div.imgtxt {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

div.imgtxt-img {
    background-size: 100% 100%;
    border-radius: 5vw;
    height: 25vw;
    width: 25vw;
}

div.imgtxt-desc {
    width: 65vw;
}

/* mini-imgtxt */

div.mini-imgtxt {
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.mini-imgtxt-title {
    font-size: 110%;
    font-weight: bold;
    margin-top: 20px;
}

div.mini-imgtxt-desc {
    margin-top: 10px;
}

div.mini-imgtxt-img {
    background-size: 100% 100%;
    border-radius: 3vw;
    height: 30vw;
    margin: 10px 0 20px;
    width: 40vw;
}

/* imglist */

div.imglist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.imglist-item {
    background-size: 100% 100%;
    height: 25vw;
    margin: 10px 0 0 10px;
    width: 25vw;
}

/* imgtxtlist */

div.imgtxtlist {
    display: flex;
    flex-direction: column;
}

div.imgtxtlist-row {
    display: flex;
    margin-bottom: 5vw;
}

div.imgtxtlist-row:first-child {
    margin-top: 5vw;
}

div.imgtxtlist-row:last-child {
    margin-bottom: 0;
}

div.imgtxtlist-row-item {
    margin-left: 3vw;
    width: 45.5vw;
}

div.imgtxtlist-row-item-img {
    background-size: 100% 100%;
    border-radius: 2vw;
    height: 30vw;
    width: 100%;
}

div.imgtxtlist-row-item-desc {
    padding-top: 3vw;
    width: 100%;
}

div.footer {
    background-color: rgb(255, 234, 208);
    height: 50px;
    margin-top: 15px;
    width: 100vw;
}
